.back-link {
    margin: 0 0 4px;
    display: flex;
    align-items: center;
    color: $blue-light-2;
    transition: $transition;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 7px 14px 6px 10px;
    border: 1px solid $blue-dark;
    background: $text-dark;
  }
  .back-link svg {
    fill: $blue-light-2;
    transform: rotate(-90deg);
    width: 18px;
    transition: $transition;
    padding: 5px 7px;
    margin-right: 3px;
  }
  .back-link:hover {
    transform: translate(-3px, -1px);
    transition: $transition-fastest;
    background: $text-dark;
    color: $text-light;
    cursor: pointer;
    box-shadow: 3px 1px 1px $text-dark;
    border-radius: 10px;
    border-color: $blue-light;
    text-decoration: underline;
    & svg {
      fill: $text-light;
      transform: translate(-3px, 0) rotate(-90deg) scale(1.05);
      transition: $transition-fastest;
    }
  }