

// new colors from figma
$text-light: #EFF4FF;
$blue-light-3: #DEE5FE;
$blue-light-2: #B8D9FF;
$blue-light: #679ef7;
$blue: #1263AE;
$blue-dark: #344366;
$blue-dark-2: #141e45;
$text-dark: #0e142d;

//excess
$gradient-overlay: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.85) 0%,
  rgba(0, 0, 0, 0.35) 100%
);
$shadow: 0px 0px 10px 0 $blue-dark-2;
$card-shadow: 6px 6px 6px 2px $text-dark;
$element-size: 4rem;
$transition: all 0.3s ease-in-out 0s;
$border-radius: 0.75rem;
$transition: all 0.3s ease-in-out 0s;
$transition-faster: all 0.2s ease-in-out 0s;
$transition-fastest: all 0.1s ease-in-out 0s;
$shadow-inset: inset 1px 5px 6px 0 rgba(0, 0, 0, 0.1);
$shadow-hover: -2px 6px 8px rgba(0, 0, 0, 0.65);
$shadow-tab: -1px -5px 6px 0 rgba(0, 0, 0, 0.2);
$shadow-tabHover: -2px -8px 8px 0 rgba(0, 0, 0, 0.65);
$shadow-focus: 0 0 10px 0 rgba(0, 0, 0, 0.45);
$shadow-dark: 0 0px 15px rgba(0, 0, 0, 0.75);
$shadow-text: 1px 1px 5px rgba(0, 0, 0, 0.6);
$shadow-subtle-dl: -2px 2px 6px rgba(0, 0, 0, 0.35);
$shadow-subtle-dr: 2px -2px 6px rgba(0, 0, 0, 0.35);
$focus-background: rgba(255, 255, 255, 0.85);


